<div class="jumbotron py-4">
    <p class="mb-0 h3 text-center">
        Categories
    </p>
</div>

<ul class="list-group mt-3">
    <a routerLink="/products/Mobiles" class="text-primary list-group-item list-group-item-action">Mobiles</a>
    <a routerLink="/products/Books" class="text-primary list-group-item list-group-item-action">Books</a>
    <a routerLink="/products/Gifts" class="text-primary list-group-item list-group-item-action">Gifts</a>
    <a routerLink="/products/Apparel" class="text-primary list-group-item list-group-item-action">Apparel</a>
    <a routerLink="/products/Music" class="text-primary list-group-item list-group-item-action">Music</a>
</ul>