<div class="container">
  <div class="jumbotron py-4">
    <p class="display-4 mb-0 text-center">Image Operations</p>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <img class="" src="../assets/image.png" width="{{width}}" [height]="height" alt="">
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <button class="m-1 btn btn-primary material-icons" (click)="zoomOut()">zoom_out</button>
    <button class="m-1 btn btn-primary material-icons" (click)="zoomIn()">zoom_in</button>
  </div>
</div>