<div class="jumbotron py-4">
    <p class="mb-0 h3 text-center">
        Welcome to Our E-Comm Website !
    </p>
</div>

<p class="lead">
    Exclusive Deals & Offers. Fast Delivery. Vast Selection. Shop Now! Now, happiness has no bounds. Last chance to get
    great deals. Huge Selection. 100% Purchase Protection. Easy Returns. Free Shipping* Pay On Delivery.
    Explore The Latest Deals On Amazon Across Electronics, Apparel & More! Best deals on ElectronicsTop Brands. Best
    PricesExplore Now! Upto 80% off fashion Top Brands. Latest Styles. Offers on 4 Lakh+ Styles. Best Exchange Offers
    Mobiles, Refrigerators, ACs, TVs! Instant Discount. Doorstep Pickpup
</p>